@font-face {
  font-family: 'LXGW WenKai TC';
  src: url('@/assets/fonts/LXGWWenKaiMonoTC-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "LXGW WenKai TC", serif !important;
}
